body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider-thumb::before {
    position: absolute;
    content: "";
    top: 20%;
    right: 70%;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(red, yellow, rgb(255, 136, 0));
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}

.slider-thumb2::before {
    position: absolute;
    content: "";
    right: 0%;
    top: 10%;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(rgb(247, 0, 255), rgb(30, 0, 255), rgb(255, 0, 93));
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

a {
    text-decoration: none;
}

.login-container {
    background-color: #03be80;
    border-radius: 5px;
    padding: 50px;
    padding-right: 60px;
    padding-top: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    position: relative;
    /* Needed for positioning the logo */
}


.login-form {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: gold;
    color: #000;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.new {
    color: #000;
}