body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: turquoise;
}

a{
    text-decoration: none;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-right:60px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    position: relative; /* Needed for positioning the logo */
}

.app-logo {
    width: 410px; /* Adjust the size as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -50px; /* Adjust the top position to your preference */
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Center the logo horizontally */
}

.login-form {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: gold;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.new{
    color: #000;
}
